@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
}

:root {
  --color-primary: #ff6000;
  --color-grey: #444;
  --color-black: rgb(51, 51, 51);
  --color-promo: rgb(191, 0, 25);
  --color-stock: rgb(17, 128, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 400;
  color: var(--color-grey)
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 12px 24px;
  border-bottom: 1px solid #CCCCCC;
  position: fixed;
  width: 100%;
  background: white
}

h3 {
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  cursor: pointer
}

li {
  list-style-type: none;
}

figure {
  display: flex;  
}

p, input {
  margin-bottom: 0.5rem;  
}

.logo {
  width: 138px;
  height: 48px;
}

.header-input-mobile {
  display: none;
}

.header-input-desktop {
  min-width: 248px;
  height: 26.67px;
}

.shopping-navbar {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.nav-img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

#app {
  padding: 112.667px 24px 24px 24px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 376px) {
  header {
    padding: 18px
  }
  .nav-text {
    display: none
  }
  .logo {
    width: 69px;
    height: 24px;
  }
  #app {
    display: block;
    padding: 79px 18px 18px 18px;
  }
  .header-input-desktop {
    display: none;
  }
  .header-input-mobile {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
  }
}
